//----- Posts

mixin postFull(post)
  article.post(class=post.type())
    +postHeader(post, 'single')

    .featureArt
      img(src='/image/theme/jet/david-bowie.jpg' alt='David Bowie')

    +postBody(post)
    +postTags(post)
    +postTagline(post)

mixin postPreview(post)
  section.post(class=post.type())
    +postHeader(post, 'multi')
    +postByline(post)
    +postTeaser(post)

mixin postHeader(post, level)
  - if (post.type() === 'playlist')
    +playlistHeader(post, post.playlist, level)
  - else
    +releaseHeader(post, post.release, level)

mixin postBody(post)
  - if (post.type() === 'playlist')
    +playlistBody(post, post.playlist)
  - else
    +releaseBody(post, post.release)

mixin postTeaser(post)
  - if (post.type() === 'playlist')
    +playlistTeaser(post, post.playlist)
  - else
    +releaseTeaser(post, post.release)

mixin postByline(post)
  .byline!=post.author.name

mixin postTagline(post)
  .tagline!=post.author.name

mixin postTags(post)
  ul.tags
    - each tag in post.tags
      li!=tag.name

//----- Playlists

mixin playlistHeader(post, playlist, level)
  header
    h5.type Playlists
    - if (level === 'single')
      h1.title!=playlist.title
    - else
      h2.title: +linkToPlaylist(post, playlist)

mixin linkToPlaylist(post, playlist)
  a(href='/post/' + post.id)!=playlist.title

mixin playlistBody(post, playlist)
  //- .body !{viewHelper.marked(post.content)}

  p [Playlist body]

mixin playlistTeaser(post, playlist)
  .teaser [Playlist teaser]

//----- Releases

mixin releaseHeader(post, release, level)
  header
    h5.type!=viewHelper.pluralize(release.type)
    - if (level === 'single')
      h2.artist!=release.artist
      h1.title: +releaseCitation(post, release)
    - else
      h3.artist: +linkToPost(post, release.artist)
      h2.title: +releaseCitation(post, release, true)
    h5.year!=release.year

mixin releaseCitation(post, release, linked)
  //- cite.album, cite.compilation, cite.dj-mix, cite.song
  cite(class=release.type.toLowerCase().replace(/\s/g, '-'))
    - if (block)
      block
    - else if (linked)
      +releaseTitleLink(post, release)
    - else
      | !{release.title}

mixin releaseTitleLink(post, release)
  +linkToPost(post, release.title)

mixin linkToPost(post, text)
  a(href='/post/' + post.id)=text

mixin releaseBody(post, release)
  //-.body !{viewHelper.marked(post.content)}

  p [Release body]

mixin releaseTeaser(post, release)
  .teaser [Release teaser]
