//----- Posts

mixin postPreview(post)
  section.post(class=post.type())
    +postCoverArt(post, true)
    +postHeader(post, 'multi')
    +postTeaser(post)

mixin postFull(post)
  article.post(class=post.type())
    +postHeader(post, 'single')
    +postCoverArt(post)
    +postBody(post)
    +postTags(post)
    +postTagline(post)

mixin postHeader(post, level)
  - if (post.type() === 'playlist')
    +playlistHeader(post, post.playlist, level)
  - else
    +releaseHeader(post, post.release, level)

mixin postBody(post)
  - if (post.type() === 'playlist')
    +playlistBody(post, post.playlist)
  - else
    +releaseBody(post, post.release)

mixin postTeaser(post)
  .teaser
    p!=post.renderedPreview()

    p: +linkToPost(post, 'Read More')(class='readMore')

mixin postCoverArt(post, linked)
  aside.coverArt
    - if (linked)
      +linkToPost(post)
        +postImageTag(post)
    - else
      +postImageTag(post)

mixin postImageTag(post)
  img(src=post.image alt!=post.altText)

mixin postTagline(post)
  .tagline
    | Posted by #{post.author.username}#{post.publishedDateString()}

mixin postTags(post)
  section
    ul.tags
      - each tag in post.subject().tags
        li: +linkToTag(tag, tag.displayName())

mixin linkToTag(tag, text)
  a(href='/' + tag.type + '/' + tag.slug)!=text

mixin linkToPost(post, text)
  a(class!=attributes.class href='/post/' + post.path + '/' + post.slug)
    - if (block)
      block
    - else
      | #{text}

//----- Playlists

mixin playlistHeader(post, playlist, level)
  header.postInfo
    h4.type Playlists
    - if (level === 'single')
      h2.series!=playlist.displayPrefix()
      h1.title
        +playlistCitation(playlist)
    - else
      h3.series!=playlist.displayPrefix()
      h2.title
        +linkToPost(post)
          +playlistCitation(playlist)

mixin playlistCitation(playlist)
  cite.playlist
    span.name=playlist.title

mixin playlistBody(post, playlist)
  section.body!=post.renderedContent()
  section.tracks
    ul
      - each track in playlist.tracks
        li
          span.artist!=track.artist
          | #{' '}
          span.title!=track.title
          - if (track.version)
            | #{' '}
            span.version!=track.version

//----- Releases

mixin releaseHeader(post, release, level)
  header.postInfo
    h4.type!=viewHelper.pluralize(release.type)
    - if (level === 'single')
      h2.artist!=release.artist
      h1.title
        +releaseCitation(release)
    - else
      h3.artist!=release.artist
      h2.title
        +linkToPost(post)
          +releaseCitation(release)
    h5.year!=release.year

mixin releaseCitation(release)
  //- cite.album, cite.compilation, cite.dj-mix, cite.track
  cite(class=viewHelper.slugify(release.type))
    span.name=release.title
    - if (release.version)
      span.version=release.version

mixin releaseBody(post, release)
  section.body!=post.renderedContent()
