//----- Posts

mixin postPreview(post)
  section.post(class=post.domClass())
    +postCoverArt(post, true)
    +postHeader(post, 'multi')
    +postTeaser(post)

mixin postFull(post)
  article.post(class=post.domClass())
    +postHeader(post, 'single')
    +postCoverArt(post)
    +postBody(post)
    +postTags(post)
    +postByline(post)

mixin postHeader(post, level)
  - if (post.hasPlaylist())
    +playlistHeader(post, level)
  - else
    +releaseHeader(post, level)

mixin postBody(post)
  - if (post.hasPlaylist())
    +playlistBody(post)
  - else
    +releaseBody(post)

mixin postTeaser(post)
  .teaser
    p!=post.renderedPreview()

    p: +linkToPost(post, 'Read More')(class='readMore')

mixin postCoverArt(post, linked)
  aside.coverArt
    - if (linked)
      +linkToPost(post)
        +postImg(post)
    - else
      +postImg(post)

mixin postImg(post)
  img(src=post.image alt!=post.altText)

mixin postByline(post)
  .byline
    | Posted by #{post.author.username}#{post.publishedDateString()}

mixin postTags(post)
  section
    ul.tags
      - each tag in post.subject().tags
        li: +linkToTag(tag, tag.slug)

mixin linkToTag(tag, text)
  a(href='/' + tag.path + '/' + tag.slug)!=text

mixin linkToPost(post, text)
  a(class!=attributes.class href='/post/' + post.path + '/' + post.slug)
    - if (block)
      block
    - else
      | #{text}

//----- Playlists

mixin playlistHeader(post, level)
  - playlist = post.playlist

  header.postInfo
    h4.type Playlists
    - if (level === 'single')
      h2.series!=playlist.seriesPrefix()
      h1.title
        +playlistCitation(playlist)
    - else
      h3.series!=playlist.seriesPrefix()
      h2.title
        +linkToPost(post)
          +playlistCitation(playlist)

mixin playlistCitation(playlist)
  cite.playlist
    span.name=playlist.title

mixin playlistBody(post)
  - playlist = post.playlist

  section.body!=post.renderedContent()
  section.tracks
    ul
      - each track in playlist.tracks
        li
          span.artist!=track.artist
          | #{' '}
          span.title!=track.title
          - if (track.version)
            | #{' '}
            span.version!=track.version

//----- Releases

mixin releaseHeader(post, level)
  - release = post.release

  header.postInfo
    h4.type!=viewHelper.pluralize(release.type)
    - if (level === 'single')
      h2.artist!=release.artist
      h1.title
        +releaseCitation(post)
    - else
      h3.artist!=release.artist
      h2.title
        +linkToPost(post)
          +releaseCitation(post)
    h5.year!=release.year

mixin releaseCitation(post)
  - release = post.release

  //- cite.album, cite.compilation, cite.dj-mix, cite.track
  cite(class=post.domClass())
    span.name=release.title
    - if (release.version)
      span.version=release.version

mixin releaseBody(post)
  section.body!=post.renderedContent()
