//----- Posts

mixin postFull(post)
  article.post(class=post.type())
    +postHeader(post, 'single')
    +postArt(post)
    +postBody(post)
    +postTags(post)
    +postTagline(post)

mixin postArt(post)
  aside.coverArt
    img(src=viewHelper.postArtworkUrl(post) alt!=viewHelper.postArtworkAlt(post))

mixin postPreview(post)
  section.post(class=post.type())
    +postHeader(post, 'multi')
    +postByline(post)
    +postTeaser(post)

mixin postHeader(post, level)
  - if (post.type() === 'playlist')
    +playlistHeader(post, post.playlist, level)
  - else
    +releaseHeader(post, post.release, level)

mixin postBody(post)
  - if (post.type() === 'playlist')
    +playlistBody(post, post.playlist)
  - else
    +releaseBody(post, post.release)

mixin postTeaser(post)
  - if (post.type() === 'playlist')
    +playlistTeaser(post, post.playlist)
  - else
    +releaseTeaser(post, post.release)

mixin postByline(post)
  .byline!=post.author.name

mixin postTagline(post)
  .tagline!=post.author.name

mixin postTags(post)
  ul.tags
    - each tag in post.tags
      li!=tag.name

//----- Playlists

mixin playlistHeader(post, playlist, level)
  header.postInfo
    h4.type Playlists
    - if (level === 'single')
      h1.title!=playlist.title
    - else
      h2.title: +linkToPlaylist(post, playlist)

mixin linkToPlaylist(post, playlist)
  a(href='/post/' + post.id)!=playlist.title

mixin playlistBody(post, playlist)
  //- .body !{viewHelper.marked(post.content)}

  p [Playlist body]

mixin playlistTeaser(post, playlist)
  .teaser [Playlist teaser]

//----- Releases

mixin releaseHeader(post, release, level)
  header.postInfo
    h4.type!=viewHelper.pluralize(release.type)
    - if (level === 'single')
      h2.artist!=release.artist
      h1.title: +releaseTitle(post, release)
    - else
      h3.artist: +linkToPost(post, release.artist)
      h2.title: +releaseTitle(post, release, true)
    h5.year!=release.year

mixin releaseTitle(post, release, linked)
  - if (linked)
    +linkToPost(post)
      +releaseCitation(post, release)
  - else
      +releaseCitation(post, release)

mixin releaseCitation(post, release)
  //- cite.album, cite.compilation, cite.dj-mix, cite.song
  cite(class=viewHelper.snakify(release.type))
    | !{release.title}

mixin linkToPost(post, text)
  a(href='/post/' + post.id)
    - if (block)
      block
    - else
      | #{text}

mixin releaseBody(post, release)
  section.body!=viewHelper.marked(post.content)

mixin releaseTeaser(post, release)
  .teaser [Release teaser]
